.toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1em 0;
	@media screen and (max-width: 768px) {
		flex-direction: column;
		height: auto;
		&__actions {
			margin-top: 1em;
		}
	}
	&__filters {
		label {
			color: #fff;
		}
	}
}
