$dark-blue: #00396F;
$light-green: #00DF8D;
$dark-green: #009882;
$white-green: #DEF9D9;

$button-border-radius: 10px;

$header-color: $dark-blue;
$dark-title: $dark-blue;
$light-title: $white-green;

$background-color: $light-green;