@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

.title {
	color: $dark-blue;
	font-size: 2em;
	font-weight: bold;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}
