.header {
    background-color: $dark-blue;
    height: 120px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
}

.logo {
    color: $white-green;
    h1 {
        font-weight: bold;
    }
    span {
        font-weight: normal;
    }
    &:hover {
        text-decoration: none;
        color: $white-green;
    }
}

.navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;

    &__item {
        display: inline-block;
    }

    &__link {
        color: $white-green;
        padding: 2em 2.5em;
        &.router-link-exact-active {
            font-weight: bold;
        }
        &:hover {
            text-decoration: none;
            color: $white-green;
            opacity: .7;
        }
    }
}